<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htz.chsystem.web.admin.dao.TbWorkerDao">
    <sql id="tbWorkerColumns">
      a.id,
      a.username,
      a.password,
      a.phone,
      a.address,
      a.created,
      a.updated
    </sql>

    <select id="selectAll" resultType="TbWorker">
        SELECT
        <include refid="tbWorkerColumns" />
        FROM
        tb_worker AS a
    </select>

    <insert id="insert" >
        INSERT INTO tb_worker (
          `username`,
          `password`,
          `phone`,
          `address`,
          `created`,
          `updated`
        )
        VALUES
          (
            #{username},
            #{password},
            #{phone},
            #{address},
            #{created},
            #{updated}
          );
    </insert>

    <delete id="delete">
        DELETE from tb_worker WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE
          tb_worker
        SET
          username = #{username},
          password = #{password},
          phone = #{phone},
          address = #{address},
          updated = #{updated}
        WHERE id = #{id}
    </update>

    <select id="getById" resultType="TbWorker">
        SELECT
        <include refid="tbWorkerColumns" />
        FROM
        tb_worker AS a
        WHERE
        a.id = #{id}
    </select>

    <select id="getByPhone" resultType="TbWorker">
        SELECT
        <include refid="tbWorkerColumns" />
        FROM
        tb_worker AS a
        WHERE
        a.phone = #{phone}
    </select>

    <delete id="deleteMulti">
        DELETE FROM tb_worker
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator=","  item="id">
            #{id}
        </foreach>
    </delete>

    <select id="page" resultType="TbWorker" parameterType="java.util.Map">
        SELECT
        <include refid="tbWorkerColumns" />
        FROM
        tb_worker AS a
        <where>
            <if test="pageParams.username != null and pageParams.username != ''" >
                AND a.username LIKE CONCAT ('%', #{pageParams.username}, '%')
            </if>
            <if test="pageParams.phone != null and pageParams.phone != ''" >
                AND a.phone LIKE CONCAT ('%', #{pageParams.phone}, '%')
            </if>
        </where>
        --         ORDER BY a.updated DESC
        LIMIT #{start}, #{length}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tb_worker AS a
        <where>
            <if test="username != null and username != ''" >
                AND a.username LIKE CONCAT ('%', #{username}, '%')
            </if>
            <if test="phone != null and phone != ''" >
                AND a.phone LIKE CONCAT ('%', #{phone}, '%')
            </if>
        </where>
    </select>
</mapper>